<h1>دعم تطوير Vue.js</h1>

<p>
  Vue.js هو مشروع مفتوح المصدر تحت رخصة MIT ومتاح للإستخدام بالكامل مجاناً.
  ومع ذلك، كمية الجهد المطلوبة للحفاظ على المشروع وتطوير الميزات الجديدة غير متاح بدون دعم مادي مستمر. يمكنك دعم تطوير Vue.js من خلال الطرق الآتية:
</p>

<h2 id="One-time-Donations">التبرع لمرة واحدة</h2>

<p>نقوم بقبول التبرعات من خلال الخدمات التالية:</p>

<div id="one-time-donations">
  <a href="https://www.paypal.me/evanyou" target="_blank">
    <img src="/images/paypal.png" style="width:100px">
  </a>
  <a href="#btc"><%- partial('icons/btc') %> BTC</a>
  <a href="#bch"><%- partial('icons/bch') %> BCH</a>
  <a href="#eth"><%- partial('icons/eth') %> ETH</a>
  <a href="#ltc"><%- partial('icons/ltc') %> LTC
  </a>
</div>

<div id="coin-details" v-if="type && coins[type]">
  <p>{{ coins[type].name }} Address:<br>{{ coins[type].address }}</p>
  <img :src="'/images/coin-' + type + '.png'">
</div>
<script>
var coins = new Vue({
  el: '#coin-details',
  data: {
    type: window.location.hash.slice(1),
    coins: {
      btc: {
        name: 'Bitcoin',
        address: '14MEpy5a9MwDZa9CUzrfDhTU8dy2KKJ5mU'
      },
      bch: {
        name: 'Bitcoin Cash',
        address: '15gftB3fwumFRWGWFhVzTgc4nhM5w1F2Tu'
      },
      eth: {
        name: 'Ethereum',
        address: '0x3411356C1f0Bf5D859464eD2AC54DD2C222519B7'
      },
      ltc: {
        name: 'Litecoin',
        address: 'LUcHis3B8SFtEeZtuCaZoqsyN9XFAKmbCP'
      }
    }
  }
})
window.addEventListener('hashchange', function () {
  coins.type = window.location.hash.slice(1)
})
</script>

<h2 id="Recurring-Pledges">التبرعات الدورية</h2>

<p>
  التبرعات الدورية تأتي معها مجموعة حصرية من البدلات مثل، إدراج إسمك في مستودع Vue على GitHub، أو إدراج شعار شركتك على هذا الموقع الإلكتروني.
</p>

<ul>
  <li>
    <a href="https://www.patreon.com/evanyou" target="_blank">
      كن داعماً أو راعِ من خلال Patreon</a> (يذهب مباشرة لدعم إيڤان يو مقابل عملة بدوام كامل على Vue)
  </li>
  <li>
    <a href="https://opencollective.com/vuejs">
      كن داعماً أو راعِ من خلال OpenCollective</a> (يذهب تبرعك إلى صندوق ذو نموذج إنفاق شفاف لدعم جهود المجتمع والفعاليات)
  </li>
</ul>

<h2>الرعاة الحاليين المميزين:</h2>

<h3>الرعاة المميزين</h3>

<p class="platinum">
<%_ for (const sponsor of theme.special_sponsors) {_%>
  <a href="<%- sponsor.url %>" target="_blank">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>"<%- (sponsor.big_width || sponsor.big_height) ? ` style="${sponsor.big_width ? `width:${sponsor.big_width};`: ``}${sponsor.big_height ? `height:${sponsor.big_height};` : ``}"` : `` %>>
  </a>
<%_ } _%>
</p>

<h3>الرعاة البلاتينيين</h3>

<p class="platinum">
<%_ for (const sponsor of theme.platinum_sponsors) {_%>
  <a href="<%- sponsor.url %>" target="_blank">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>">
  </a>
<%_ } _%>
</p>

<h3>رعاة OpenCollective البلاتينيين</h3>

<p class="open-collective-sponsors sponsor-section">
<%_ for (let i = 0; i < 10; i++) {_%>
  <a href="https://opencollective.com/vuejs/tiers/platinum-sponsors/<%- i %>/website" target="_blank">
    <img src="https://opencollective.com/vuejs/tiers/platinum-sponsors/<%- i %>/avatar.svg">
  </a>
<%_ } _%>
</p>

<h3>رعاة مميزين (الصين)</h3>

<p class="platinum">
<%_ for (const sponsor of theme.platinum_sponsors_china) {_%>
  <a href="<%- sponsor.url %>" target="_blank">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>"<%- (sponsor.big_width || sponsor.big_height) ? ` style="${sponsor.big_width ? `width:${sponsor.big_width};`: ``}${sponsor.big_height ? `height:${sponsor.big_height};` : ``}"` : `` %>>
  </a>
<%_ } _%>
</p>

<h3>الرعاة الذهبيين</h3>

<p class="patreon-sponsors sponsor-section">
<%_ for (const sponsor of theme.gold_sponsors) {_%>
  <a href="<%- sponsor.url %>" target="_blank">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>">
  </a>
<%_ } _%>
</p>

<h3>رعاة OpenCollective الذهبيين</h3>

<p class="open-collective-sponsors sponsor-section">
<%_ for (let i = 0; i < 10; i++) {_%>
  <a href="https://opencollective.com/vuejs/tiers/gold-sponsors/<%- i %>/website" target="_blank">
    <img src="https://opencollective.com/vuejs/tiers/gold-sponsors/<%- i %>/avatar.svg">
  </a>
<%_ } _%>
</p>

<h3>الرعاة الفضيين</h3>

<p class="patreon-sponsors sponsor-section">
<%_ for (const sponsor of theme.silver_sponsors) {_%>
  <a href="<%- sponsor.url %>" target="_blank">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>">
  </a>
<%_ } _%>
</p>

<h3>رعاة OpenCollective الفضيين</h3>

<p class="open-collective-sponsors sponsor-section">
<%_ for (let i = 0; i < 5; i++) {_%>
  <a href="https://opencollective.com/vuejs/tiers/silver-sponsors/<%- i %>/website" target="_blank">
    <img src="https://opencollective.com/vuejs/tiers/silver-sponsors/<%- i %>/avatar.svg">
  </a>
<%_ } _%>
</p>

<p>
  اذا كان لديك عمل او شركة تستخدم بها Vue.js في منتج تقوم ببيعه والتربح منه, فلسوف يسكون شيء رائع ان تقوم تطوير بدعم Vue.js: <b>فهذا يمكننا من التأكد من ان مشاريعك ومنتجك يقف على ارض صلبة.</b> كما سوف يساعدك في الانتشار بين مجتمع ڤيو ويجعل من السهل جذب مطورين ڤيو.
</p>

<p>
  اذا كنت فرد او مستخدم وقد استمتعت بالانتاجية باستخدام ڤيو, سوف يجعلنا سعداء ان قمت بالتبرع للمشروع كنوع من انواع التقدير - كأنك تقوم بدعوتي على قهوة كل فترة :).
</p>
