<li class="nav-dropdown-container language">
  <a class="nav-link">الترجمات</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="https://cn.vuejs.org/<%- page.path %>" class="nav-link" target="_blank">الصينية</a></li>
    <li><a href="https://jp.vuejs.org/<%- page.path %>" class="nav-link" target="_blank">اليابانية</a></li>
    <li><a href="https://ru.vuejs.org/<%- page.path %>" class="nav-link" target="_blank">الروسية</a></li>
    <li><a href="https://kr.vuejs.org/<%- page.path %>" class="nav-link" target="_blank">الكورية</a></li>
    <li><a href="https://br.vuejs.org/<%- page.path %>" class="nav-link" target="_blank">البرتغالية</a></li>
    <li><a href="https://fr.vuejs.org/<%- page.path %>" class="nav-link" target="_blank">الفرنسية</a></li>
    <li><a href="https://vi.vuejs.org/<%- page.path %>" class="nav-link" target="_blank">الڤيتنامية</a></li>
  </ul>
</li>
